.mat-column-inputImage {
    width: 50px;
}

.mat-column-inputText {
    width: 20%;
    min-width: 130px;
}

.mat-column-createdAt {
    width: 110px;
}

.mat-column-actions {
    padding: 0 !important;
}
