.mat-column-inputImage {
    width: 50px;
}

.mat-column-inputText {
    width: 15%;
    min-width: 100px;
}

.mat-column-createdAt {
    width: 110px;
}

.mat-column-actions {
    padding: 0 !important;
}


