.mat-column-inputImage {
    width: 50px;
    min-width: unset;
}

.mat-column-inputText {
    width: 15%;
}

.mat-column-createdAt {
    width: 110px;
}

.mat-column-result,
.mat-column-feedback {
    min-width: 160px;
}
