.input-data {
    .image-container {
        border-radius: var(--radius-md);
        overflow: hidden;
        background-color: var(--black-05);
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 60px;
    }

    img {
        border-radius: var(--radius-md);
    }
}

.legend-wrapper{
    max-width: 160px;

    table.vertical.legend {
        td {
            font-weight: 400;
            color: var(--text-color-body);
            text-align: right;
        }

        tr:first-child {
            th,td {
                font-weight: 600 !important;
                color: var(--text-color-secondary);
            }
        }
    }
}
