.selected-item-card {
    padding: 20px;
    border: 1px solid var(--orange-00);
    border-radius: var(--radius-sm);
    position: relative;
    .reset-btn {
        position: absolute;
        display: block;
        top: 10px;
        right: 10px;
    }
}
