.image-upload {
    border: 2px dashed var(--black-20);
    border-radius: 8px;
    height: 180px;
    padding: 10px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;

    //color: #6b6b6b;
    text-align: center;

    transition: background-color 0.2s, border-color 0.2s;

    &:hover {
        background-color: var(--beige-90);
        border-color: var(--orange-00);
    }

    &.has-image {
        background-color: var(--beige-90);
    }

    .upload-icon {
        color:var(--beige-10);
    }

    img {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        border-radius: 8px;
    }

    .remove-btn {
        position: absolute;
        top: 8px;
        right: 8px;
        padding: 0;
        width: 34px;
        height: 34px;
        background-color: var(--beige-100);

        .mat-icon {
            width: 20px;
            height: 20px;
            font-size: 18px;
        }
    }

    .label {
        color: var(--text-color-secondary);
        font-size: 13px;
        font-weight: 500;
        letter-spacing: var(--mat-form-field-outlined-label-text-tracking, var(--mat-sys-body-large-tracking));
        background-color: var(--beige-100);
        padding: 0 5px ;
        display: block;
        position: absolute;
        top: -10px;
        left: 10px;
    }
}

/*.chronology-toggle {
    border-radius: 999px;
    background: #efe4db;
    padding: 4px;

    mat-button-toggle {
        border-radius: 999px !important;
        text-transform: uppercase !important;
        letter-spacing: 0.5px;
        border: none;
    }

    .mat-button-toggle-checked {
        background-color: var(--orange-00);
        color: #fff !important;
    }
}*/

.mat-button-toggle-group-appearance-standard {
    border-radius: var(--radius-sm);
}

.predict-btn {
    width: 100%;
    max-width: 320px;
}
