// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use "./styles/_theme-colors" as colors;
@use './styles/_typography' as typo;
@use './styles/_tokens';
@use "./styles/_utils";

html {
    height: 100%;
    @include mat.theme((
        color: (
            //primary: mat.$azure-palette,
            //tertiary: mat.$blue-palette,
            primary: colors.$primary-palette,
            secondary: colors.$secondary-palette,
            tertiary: colors.$tertiary-palette,
            error: colors.$error-palette,
            neutral: colors.$neutral-palette,
            neutral-variant: colors.$neutral-variant-palette,
        ),
        typography: typo.$typography,
        density: 0,
    ));

    /* Shape / corner overrides */
    --mat-sys-corner-small: 4px;
    --mat-sys-corner-medium: 8px;
    --mat-sys-corner-large: 16px;
    --mat-sys-corner-full: 16px;
}

body {
    // Default the application to a light color theme. This can be changed to
    // `dark` to enable the dark color theme, or to `light dark` to defer to the
    // user's system settings.
    color-scheme: light;

    // Set a default background, font and text colors for the application using
    // Angular Material's system-level CSS variables. Learn more about these
    // variables at https://material.angular.dev/guide/system-variables
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    font: var(--mat-sys-body-medium);

    // Reset the user agent margin.
    margin: 0;
    height: 100%;
}

/* You can add global styles to this file, and also import other style files */


// LAYOUT

.window {
    width: 100%;
    height: 100%;
}

.window-inner {
    padding: 0 30px;
    gap: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.content {
    width: 100%;
    max-width: 1000px;
    padding: 30px 0;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content {
    .inner {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

.card {
    border-radius: var(--radius-md);
    background-color: var(--beige-100);
    padding: 30px;
}

.floating {
    padding: 0 30px;
}

// BASICS

::-moz-selection,
::selection {
    color: var(--text-color-primary);
    background: var(--orange-90);;
}

body {
    background-color: var(--beige-70);
    font-family: var(--sans-font), sans-serif;
    color: var(--text-color-body);
    font-size: 15px;
    font-weight: 400;
}

h1, h2, h3 {
    font-family: var(--serif-font), serif;
    color: var(--text-color-primary);
    font-weight: 600;
    margin: 0 0 10px;
}

h4, h5, h6 {
    font-family: var(--sans-font), serif;
    color: var(--text-color-primary);
    font-weight: 600;
    margin: 0 0 10px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 15px;
}

p {
    margin: 0 0 10px;
}

p:last-child {
    margin-bottom: 0;
}


// ICONS

mat-icon {
    font-family: 'Material Symbols Outlined', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
}


// BUTTONS

.mdc-button.mat-mdc-button,
.mdc-button.mat-mdc-button .mdc-button__ripple,
.mdc-button.mat-mdc-unelevated-button,
.mdc-button.mat-mdc-unelevated-button .mdc-button__ripple {
    border-radius: var(--radius-sm);
}

.mdc-button[matbutton="filled"].mat-mdc-unelevated-button:not(:disabled) {
    background-color: var(--orange-00);
    text-transform: uppercase;
}

// FORM
.mat-mdc-form-field {
    width: 100%;
}

body {
    --mat-form-field-outlined-container-shape: var(--radius-sm);
}
