// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use "./styles/_theme-colors" as colors;
@use './styles/_typography' as typo;
@use './styles/_tokens';
@use "./styles/_utils";

html {
    height: 100%;
    @include mat.theme((
        color: (
            //primary: mat.$azure-palette,
            //tertiary: mat.$blue-palette,
            primary: colors.$primary-palette,
            secondary: colors.$secondary-palette,
            tertiary: colors.$tertiary-palette,
            error: colors.$error-palette,
            neutral: colors.$neutral-palette,
            neutral-variant: colors.$neutral-variant-palette,
        ),
        typography: typo.$typography,
        density: 0,
    ));

    /* Shape / corner overrides */
    --mat-sys-corner-small: 4px;
    --mat-sys-corner-medium: 8px;
    --mat-sys-corner-large: 16px;
    --mat-sys-corner-full: 16px;

    --mat-sys-outline: var(--black-15);
    --mat-expansion-container-background-color: transparent;
    --mat-expansion-header-hover-state-layer-color: transparent;
    --mat-expansion-container-elevation-shadow: none;

    --mat-sys-on-background: var(--text-color-body);
}

body {
    // Default the application to a light color theme. This can be changed to
    // `dark` to enable the dark color theme, or to `light dark` to defer to the
    // user's system settings.
    color-scheme: light;

    // Set a default background, font and text colors for the application using
    // Angular Material's system-level CSS variables. Learn more about these
    // variables at https://material.angular.dev/guide/system-variables
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    font: var(--mat-sys-body-medium);

    // Reset the user agent margin.
    margin: 0;
    height: 100%;
}

/* You can add global styles to this file, and also import other style files */


// LAYOUT

:root {
    --w-sidebar: 235px;
    --w-content: 1000px;
}

.window {
    width: 100%;
    height: 100%;
}

.window-inner {
    padding: 0 30px;
    gap: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.window-inner-inner {
    width: 100%;
    max-width: var(--w-content);
    gap: 30px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: start;
    position: relative;
    padding-left: calc(var(--w-sidebar) + 30px);
}

.admin-layout.mat-drawer-container {
    background-color: transparent;
    width: 100%;
    height: 100%;
    //max-width: calc(var(--w-sidebar) + var(--w-content) + 90px);
    //margin: 0 auto;
    padding: 0 0 0 30px;
    --mat-sidenav-container-width: var(--w-sidebar);
}

.mat-sidenav-content {
    padding: 0 30px;
    //left: max(var(--w-sidebar), calc((100vw - var(--w-sidebar) - var(--w-content) - 90px) / 2 + var(--w-sidebar))) !important;
    //margin: 0 !important;
}

.mat-drawer.mat-sidenav {
    background-color: transparent;
    padding: 30px 0;
    left: max(30px, calc((100vw - var(--w-sidebar) - var(--w-content) - 30px) / 2));
}

.content {
    width: 100%;
    max-width: var(--w-content);
    padding: 30px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content {
    .inner {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

@media only screen and (max-width: 767px) {
    .content {
        padding: 0;
    }

    .admin-layout.mat-drawer-container {
        padding: 0;
    }

    .mat-sidenav-content {
        padding: 20px;
        left: 0 !important;
        margin: 0 !important;
    }

    .mat-drawer.mat-sidenav {
        background-color: var(--beige-80);
        padding: 0;
        left: 0;
    }
}

.sidebar-wrapper {
    width: var(--w-sidebar);
    position: fixed;
    top: 0;
    left: max(30px, calc((100vw - var(--w-sidebar) - var(--w-content) - 30px) / 2));
}


.card {
    border-radius: var(--radius-md);
    background-color: var(--beige-100);
    position: relative;
}

.floating {
    padding: 0 30px;
}

// BASICS

::-moz-selection,
::selection {
    color: var(--text-color-primary);
    background: var(--orange-90);;
}

body {
    background-color: var(--beige-70);
    font-family: var(--sans-font), sans-serif;
    color: var(--text-color-body);
    font-size: 15px;
    font-weight: 400;
}

h1, h2, h3, .display {
    font-family: var(--serif-font), serif;
    color: var(--text-color-primary);
    font-weight: 600;
    margin: 0 0 10px;
}

h4, h5, h6 {
    font-family: var(--sans-font), serif;
    color: var(--text-color-primary);
    font-weight: 600;
    margin: 0 0 10px;
}

.display {
    font-size: 40px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 15px;
    text-transform: uppercase;
}

p {
    margin: 0 0 10px;
}

p:last-child {
    margin-bottom: 0;
}

strong {
    color: var(--text-color-secondary);
}

img {
    max-width: 100%;
}
// ICONS

mat-icon {
    font-family: 'Material Symbols Outlined', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
}


// BUTTONS

.mdc-button.mat-mdc-button,
.mdc-button.mat-mdc-button .mdc-button__ripple,
.mdc-button.mat-mdc-unelevated-button,
.mdc-button.mat-mdc-unelevated-button .mdc-button__ripple {
    border-radius: var(--radius-sm);
    height: 46px;
}

.mdc-button[matbutton="filled"].mat-mdc-unelevated-button:not(:disabled),
.mdc-button[mat-flat-button=""].mat-mdc-unelevated-button:not(:disabled) {
    background-color: var(--orange-00);
}

.mdc-button[matbutton="filled"].mat-mdc-unelevated-button,
.mdc-button[mat-flat-button=""].mat-mdc-unelevated-button {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 14px !important;
}

// FORM
.mat-mdc-form-field {
    width: 100%;
}

body {
    --mat-form-field-outlined-container-shape: var(--radius-sm);
    --mat-form-field-container-text-font: var(--sans-font);
    --mat-form-field-outlined-label-text-font: var(--sans-font);
    --mat-form-field-outlined-label-text-color: var(--text-color-secondary);
    --mat-form-field-outlined-label-text-weight: 500;

}

// SNACKBAR ALERTS
.alert-success {
    --mdc-snackbar-container-color: #2e7d32;
    --mdc-snackbar-supporting-text-color: #fff;
}

.alert-error {
    --mdc-snackbar-container-color: #c62828;
    --mdc-snackbar-supporting-text-color: #fff;
}

.alert-info {
    --mdc-snackbar-container-color: #1565c0;
    --mdc-snackbar-supporting-text-color: #fff;
}


// RESPONSIVENESS

@media only screen and (min-width: 767px) {
    .hide-desktop {
        display: none;
    }
}


@media only screen and (max-width: 767px) {
    .hide-mobile {
        display: none;
    }
}

// TABLE
.mat-mdc-table,
.mat-mdc-paginator {
    background-color: transparent !important;
}

.mdc-data-table__cell,
.mdc-data-table__header-cell {
    padding: 5px 10px !important;
}

table {
    th {
        font-size: 14px;
        font-weight: 600 !important;
        color: var(--text-color-secondary);
    }

    td {
        font-size: 13px;
        font-weight: 400;
        color: var(--text-color-body);
    }

    &.vertical {
        th, td {
            text-align: left;
            padding: 5px;
            height: 30px;
            font-size: 15px;
        }

        tr:not(:last-child) {
            th, td {
                border-bottom: 1px solid var(--black-15);
            }
        }

        th {
            font-weight: 400 !important;
            color: var(--text-color-body);
        }
        td {
            font-weight: 500;
            color: var(--text-color-primary);
        }
    }
}

:root {
    --mat-sort-arrow-color: var(--orange-00)
}

// EXPANSION PANEL

.mat-expansion-panel-header {
    padding: var(--space-1) var(--space-4) !important;
}

.mat-expansion-panel-body {
    padding: 0 var(--space-4) var(--space-4) !important;
}

// BADGE
.badge {
    padding: 3px 8px;
    border-radius: var(--radius-xs);
    text-transform: capitalize;
    width: fit-content;
    font-weight: 600;
    font-size: 13px;

    &.primary {
        background-color: var(--beige-20);
        color: var(--text-color-secondary);
    }

    &.success {
        background-color: var(--success);
        color: white;
    }

    &.danger {
        background-color: var(--danger);
        color: white;
    }

    &.warning {
        background-color: var(--warning);
        color: white;
    }

    &.disabled {
        background-color: var(--black-10);
        color: var(--black-30);
    }

    &.card-title {
        position: absolute;
        top: -12px;
        left: 18px;
    }
}


// ICON BUTTON
.mdc-icon-button .mat-icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: var(--text-color-accent);
}


// INDICATOR

.indicator {
    width: 20px;
    aspect-ratio: 1;
    border-radius: 100%;
}
